<!DOCTYPE html>
<html>
  <head>
    <title>TaskrunApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- CSSの指定  -->
    <%= %>

  </head>

  <body>
    <header class="app-title navbar navbar-expand-md navbar-light bg-light">
      <nav><h1 class="navbar-brand">TaskRun</h1></nav>
    </header>
    <div class="container">
      <!-- Content here -->
    </div>
    <%= yield %>
  </body>
</html>
